/*Basics */
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

/*Info cards*/
.cards {
  display: flex;
  width: 95%;
  height: 15em;
  border: solid black 0.05em;
  /* margin: 0 0 0.5em 0.5em; */
  margin: auto;
  margin-bottom: 2em;
}

/*Info cards END*/
