/*Basics */
* {
  box-sizing: border-box;
  color: #fffff0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
}

body {
  background-color: #121212;
}
#wrapper {
  background-color: #121212;
  margin: auto;
}
header {
  border-bottom: solid 0.05em #c1e1c1;
  border-radius: 0;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 6em;
  background-color: #121212;
  width: 100%;
  height: 100%;
}

h1 {
  margin-top: 0.5em;
}

h1,
h2,
h3,
h5,
p {
  text-align: center;
}

img {
  max-width: 75%;
  height: auto;
  display: block;
  margin: auto;
}

li {
  text-align: center;
  display: inline;
  margin: 0.4em;
}
ul {
  margin: 0.4em;
  padding: 0;
}

nav {
  text-align: center;
  /* margin: 2em 0 2em 0; */
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #c1e1c1;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  color: #fffff0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2em;
}

.cards {
  width: 95%;
  height: 25em;
  border: solid #c1e1c1 0.05em;
  margin-bottom: 2em;
  box-shadow: 0.1em 0.1em 1em rgba(193, 225, 193, 0.3);
  transition: all 0.3s ease;
  overflow: hidden;
  border-radius: 0.7em;
}

.cards:hover {
  transform: scale(1.02);
  box-shadow: 0.1em, 0.1em 1em rgba(193, 225, 193, 0.5);
  cursor: pointer;
}

@media screen and (min-width: 31em) and (max-width: 59em) {
  .cards {
    flex: 1 0 40%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 30em;
  }
}

@media screen and (min-width: 60em) and (max-width: 99em) {
  .cards {
    flex: 1 0 30%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 30em;
  }
}

@media screen and (min-width: 100em) {
  .cards {
    flex: 1 0 30%;
    margin-left: 0.5em;
    margin-right: 0.5em;
    height: 40em;
  }
}
